<app-header></app-header>
<!-- button trainings -->
<div class="row" style="margin: 1%;">
    <div class="col-2"></div>
    <div class="col-2">
        <button id="id" class="btn btn-block" (click)="sport('1/Fitness')"><fa-icon id="icon/1"[icon]='faDumbbell' style="font-size: 2vw;"></fa-icon></button>
    </div>
    <div class="col-2">
        <button class="btn btn-block"(click)="sport('2/Running')"><fa-icon id="icon/2"[icon]='faRunning' style="font-size: 2vw;"></fa-icon></button>
    </div>
    <div class="col-2">
        <button class="btn btn-block"(click)="sport('3/Cycling')"><fa-icon id="icon/3"[icon]='faBicycle' style="font-size: 2vw;"></fa-icon></button>
    </div>
    <div class="col-2">
        <button class="btn btn-block"(click)="sport('4/Swimming')"><fa-icon id="icon/4"[icon]='faSwimmer' style="font-size: 2vw;"></fa-icon></button>
    </div>
    <div class="col-2"></div>
</div>
<div class="row"style="margin-top: 5%">
    <div class="col-4"></div>
    <div class="col-4">
        <button (click)="resetModal()" class="btn btn-block btn-info" data-toggle="modal" data-target="#myModal" style="border-radius:25px">add training</button>
    </div>
    <div class="col-4"></div>
</div>
<div class="row"style="margin-top: 5%">
    
    <div class="col-1"></div>
<div class="col-10" >
    <div class="row" id="month" style="border: 3px solid rgb(105, 183, 228); border-radius:8px">
           <div class="row text-center" style="margin: 3%; width:100%">
                <div class="col-2"></div>
                <div class="col-8">
                    <h1>Exercises of the Month</h1>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row" style="margin-left: 5%; margin-right: 5%;" >
                <div *ngFor="let exercise of nameRepetions" class="col-4"style="margin-bottom: 3%;">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">
                            {{exercise.name}}
                        </div>
                        <div class="card-content" style="text-align: center;">
                            {{exercise.repetitions}}
                        </div>
                        <div class="card-footer" style="text-align: center;">
                            <span style="font-size: x-small;">{{todayDate}}</span>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>
<div class="col-1"></div>
</div>
<div class="row" style="margin: 5%; height: 100px;"></div>

           <!-- Modal -->
           <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <!-- <h4 class="modal-title">Modal Header</h4> -->
                </div>
                <div class="modal-body">
                    <div class="card" style="border-radius:0px 0px 25px 25px ;">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12" style="text-align: center;">
                                    <h6>Please choose a category</h6>
                                </div>
                                </div>
                            <div class="row" style="margin: 1%;">
                                <div class="col-3">
                                    <button id="id" class="btn btn-block" (click)="sportModal('1/Fitness')"><fa-icon id="iconModal/1"[icon]='faDumbbell' style="font-size: 2vw;"></fa-icon></button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-block"(click)="sportModal('2/Running')"><fa-icon id="iconModal/2"[icon]='faRunning' style="font-size: 2vw;"></fa-icon></button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-block"(click)="sportModal('3/Cycling')"><fa-icon id="iconModal/3"[icon]='faBicycle' style="font-size: 2vw;"></fa-icon></button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-block"(click)="sportModal('4/Swimming')"><fa-icon id="iconModal/4"[icon]='faSwimmer' style="font-size: 2vw;"></fa-icon></button>
                                </div>
                                
                            </div>
                        </div>
                        <br>
                        <div id="modalContentAddExercise" style="display: none;">
                            <form  id="myFormAddExercise">
                                <fieldset>
                                    <div >
                                        <span><h6>Name</h6><input class="form-control"  defaultValue="Name of the exercise" type="text"[(ngModel)]="exerciseToCreate.name" name="exerciseToCreate.name"></span>
                                        <br>
                                    </div>
                                </fieldset>
                                <br>
                                <button (click)="onSubmitAddExercise()"data-dismiss="modal" id="validateAddExercise" class="btn btn-block btn-info" style="border-radius: 50px;">Validate</button>
                            </form>
                        </div>
                        <div id="modalContent"class="card-content;" style="display: none;" >
                            <button (click)="onSubmit()"data-dismiss="modal" id="validateModal" class="btn btn-block btn-info" style="border-radius: 50px;">Validate</button>
                            <br>
                            <form  id="myForm">
                                <fieldset>
                                    <div *ngFor="let exercise of newExercises; let index = index">
                                        <span><h6>{{exercise.name}}</h6><input class="form-control" type="number"[(ngModel)]="newExercises[index].repetitions" name="newExercises[index].name" value="0"></span>
                                        <br>
                                    </div>
                                </fieldset>
                                <br>
                                <div *ngIf="sportModalToAdd=='Fitness'" class="row" style="margin-bottom:2%;">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <button (click)="addExercise()" class="btn btn-success">Add Exercise</button>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
              </div>
              
            </div>
          </div>


