<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<app-alert *ngFor="let alert of alerts" [alert]="alert"></app-alert>
<!-- <div   id="panierco" class="modal">
    <div  style="background-color: rgba(138, 138, 138, 0.664);"id='modalContent' class="modal-content">
            <div *ngIf='commande!=undefined'>
              <div *ngIf='commande.length>0'>
                    <table  class="table">
                        <tbody>
                          <tr *ngFor='let com of commande'>
                            <th scope="row"><img src="{{url}}/image/{{com.idBiere}}/{{com.nom}}"width='50px' height="50px"  ></th>
                            <td>{{com.nom}}</td>
                            <td *ngIf='com.commande>0'> 
                                <button class="btn" (click)="qttmoinsPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faMinus"></fa-icon>
                               </button><button (click)="qttplusPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                            </button></td>
                            <td *ngIf='com.commande==0'> <button class="btn" (click)="qttmoinsPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faTrash"></fa-icon>
                            </button> <button (click)="qttplusPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                            </button></td>
                            <td>{{com.commande}}</td>
                            <td style="font-size: x-small;">x {{com.prixUnitaire}}€</td>
                            <td style="width: 70px;">{{com.total}}€</td>
                        </tr>
                    </table>
                    <div class='row' style="color: rgb(117, 89, 89); background-color: white;" >
                        <div class="col-2">{{items}} items</div> 
                        <div class="col-4">   </div> 
                        <div class="col-4"> </div> 
                        <div class="col-2">{{total}}€</div> 
                    </div>
                    <br>
                    <div class="row">
                    <div class='col-4'></div> 
                    <div class='col-4'>
                        <button  style='border-radius: 8px;'id="panierbtn" class="btn-block btn-success" routerLink="/panier">
                        Valider Panier</button>
                    </div> 
                    <div class='col-4'></div> 
                </div>
                <br>
                </div>
            </div>
            
                
              </div>
            </div> -->
<div id="top" class="row" style="height: 200px;">
    
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: black;">
    <a class="navbar-brand" href="#" >Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>          
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/account">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/training">Training</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn my-2 my-sm-0" type="submit" style="background-color: rgba(255, 255, 255, 0.945)!important;">Search</button>
        </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="col-6"></div>
            <div class="col-6">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <button class="btn  my-2 my-sm-0" (click)='logout()' style=" background-color: red;">Logout</button>
                </li>
            </ul>

        </div>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>