#top{
    background-image: url("~src/assets/img/nopain.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    bottom: auto;
    border-bottom-width: 0px;
    background-color: rgba(27, 126, 255, 0.781);
}
a{
    color: rgba(218, 218, 218, 0.925)!important;
}
a:hover{
    color: white!important;
}