<div class="row">
<div *ngFor = "let athlete of athletes" class="col-4" >
    
    <div id='card{{athlete.id}}'class="card" style=" background-color: rgba(0, 110, 236, 0.596); border:none; border-radius: 4px; ">
        <div class="col text-center text-dark">
            <h5 id="h2" style="font-weight: bold;">{{athlete.userName}}</h5>
        </div>
        <button style="background-color: white;" (click)="cardAnimate(athlete.id)" class='btn-block'>
        <div class="col text-center text-dark">
            <h1>{{athlete.lastName}}</h1>
        </div>
    </button>
       <div style="height: 10px;"></div>
       
   <div style="height: 50px; margin-top: 10px;">
    <div class="row">
        <div class="col"></div>
        <div class="col 10">
            <div id="valider{{athlete.id}}" style="display: none;">
            <!-- <button class="btn-block btn-warning rounded-pill"(click)='valider(athlete.id)'(click)='apptopnavbar.valider(athlete)'><b style="font-family: Nova Cut;">Valider</b></button> -->
        </div>
        </div>
        <div class="col"></div>
    </div>
    </div>
   <div style="height: 15px;"></div>
    </div>
    <div style="height: 30px;"></div>
</div>
</div>
