<app-header></app-header>
<div class="row" style="margin: 1%;">
<div class="col-2"></div>
<div class="col-8">
    <div class="row">
    <h6 style="margin-top: 5%;">Civil information</h6>
</div>
    <div class="row info">
        
        <div class="col-4">
            <div class="col-1"></div>
                <div class="col-10">
                <p style="margin-bottom: 1px;">{{athlete.lastName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{athlete.firstName}}</p>
                <p style="margin-bottom: 20px;">{{athlete.mailAddress}}</p>
                <p>{{age}} years</p> 
                 
            </div>
            <div class="col-1"></div>
        </div>
        <div class="col-4" style="text-align: center;">
            <h2 style="font-weight: 400;">{{athlete.userName}}</h2>
        </div>
        <div class="col-4">
            <div class="row">
            <div class="col-8"></div>
            <div class="col-4"style="padding-left: 20%; margin-top: -4%;">
                <fa-icon *ngIf='athlete.gender == "Man"' [icon]='faMale' style="font-size: 4vw;"></fa-icon>
                <fa-icon *ngIf='athlete.gender == "Woman"'[icon]='faFemale' style="font-size: 4vw;"></fa-icon>
            </div>
            <div class="col-6"></div>
            <div class="col-6" style="text-align: right; margin-top: 2%;">
                <p>{{athlete.nationality}}</p>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="col-2"></div>
</div>
<div class="row" style="height: 15px;"></div>

        <div class="row" style="margin: 1% 1%;">
            <div class="col-2"></div>
            <div class="col-4" >
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <button type="button" class="btn" data-toggle="modal" data-target="#myModal"><fa-icon (click)="history('bmi')"[icon]='faClock' style="font-size: 2vw;"></fa-icon></button>
                                <!-- <fa-icon (click)="history('bmi')"[icon]='faClock' style="font-size: 2vw;"></fa-icon> -->
                            </div>
                        <div class="col-8" style="text-align: center;">
                            <span style="font-size: x-large;">Body Mass Index</span>
                        </div>
                    </div>
                </div>
                    <div class="card-content" id="chartBMIdiv" style="height: 392px;"></div>
                    <div class="card-footer">
                        <div class="col-12"style="text-align: center;">
                            <span *ngIf="athlete.bmi[0].bmi <18.5" style="font-size: xx-large ;background:linear-gradient(to bottom,#317bd7 0,#31d7c0 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.bmi[0].bmi}}</span>
                            <span *ngIf="athlete.bmi[0].bmi >=18.5 && athlete.bmi[0].bmi<=24.9"style="font-size: xx-large ;background:linear-gradient(to bottom,#08b26b 0,#bdd731 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.bmi[0].bmi}}</span>
                            <span *ngIf="athlete.bmi[0].bmi >24.9 && athlete.bmi[0].bmi<=29.9"style="font-size: xx-large ;background:linear-gradient(to bottom,#bdd731 0,#d7b031 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.bmi[0].bmi}}</span>
                            <span *ngIf="athlete.bmi[0].bmi >29.9 && athlete.bmi[0].bmi<=34.9"style="font-size: xx-large ;background:linear-gradient(to bottom,#d7b031 0,#d78e31 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.bmi[0].bmi}}</span>
                            <span *ngIf="athlete.bmi[0].bmi >34.9 && athlete.bmi[0].bmi<=39.9"style="font-size: xx-large ;background:linear-gradient(to bottom,#d78e31 0,#d73131 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.bmi[0].bmi}}</span>
                            <span *ngIf="athlete.bmi[0].bmi >39.9 "style="font-size: xx-large ;background:linear-gradient(to bottom,#d73131 0,#000000 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.bmi[0].bmi}}</span>
                            <span style="font-size:x-small; color: lightgray;">%</span>
                        </div>
                    </div>
            
                </div>
            </div>
            <div class="col-4" >
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                 <!-- Trigger the modal with a button -->
                                <button type="button" class="btn" data-toggle="modal" data-target="#myModal"><fa-icon (click)="history('rfm')"[icon]='faClock' style="font-size: 2vw;"></fa-icon></button>
                                
                            </div>
                        <div class="col-8" style="text-align: center;">
                            <span style="font-size: x-large;">Relative Fat Mass</span>
                        </div>
                    </div>
                    </div>
                    <div class="card-content" id="chartRFMdiv" style="height: 392px;"></div>
                     <div class="card-footer">
                         <div class="col-12"style="text-align: center;">
                            <span *ngIf="athlete.gender=='Man' && athlete.rfm[0].rfm <5.9" style="font-size: xx-large ;background:linear-gradient(to bottom,#317bd7 0,#31d7c0 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender=='Man' && athlete.rfm[0].rfm>=6 && athlete.rfm[0].rfm<=13"style="font-size: xx-large ;background:linear-gradient(to bottom,#08b26b 0,#bdd731 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender=='Man' && athlete.rfm[0].rfm >13.1 && athlete.rfm[0].rfm<=17.0"style="font-size: xx-large ;background:linear-gradient(to bottom,#bdd731 0,#d7b031 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender=='Man' && athlete.rfm[0].rfm >17.1 && athlete.rfm[0].rfm<=22.9"style="font-size: xx-large ;background:linear-gradient(to bottom,#d7b031 0,#d78e31 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender=='Man' && athlete.rfm[0].rfm >23.0 && athlete.rfm[0].rfm<=25.5"style="font-size: xx-large ;background:linear-gradient(to bottom,#d78e31 0,#d73131 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender=='Man' && athlete.rfm[0].rfm >25.6"style="font-size: xx-large ;background:linear-gradient(to bottom,#d73131 0,#000000 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender!='Man' && athlete.rfm[0].rfm <13" style="font-size: xx-large ;background:linear-gradient(to bottom,#317bd7 0,#31d7c0 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender!='Man' && athlete.rfm[0].rfm >=13.1 && athlete.rfm[0].rfm<=20"style="font-size: xx-large ;background:linear-gradient(to bottom,#08b26b 0,#bdd731 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender!='Man' && athlete.rfm[0].rfm >20.1 && athlete.rfm[0].rfm<=24.0"style="font-size: xx-large ;background:linear-gradient(to bottom,#bdd731 0,#d7b031 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender!='Man' && athlete.rfm[0].rfm >24.1 && athlete.rfm[0].rfm<=27.9"style="font-size: xx-large ;background:linear-gradient(to bottom,#d7b031 0,#d78e31 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span *ngIf="athlete.gender!='Man' && athlete.rfm[0].rfm >28.0 && athlete.rfm[0].rfm<=31.9"style="font-size: xx-large ;background:linear-gradient(to bottom,#d78e31 0,#d73131 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span> 
                            <span *ngIf="athlete.gender!='Man' && athlete.rfm[0].rfm >32"style="font-size: xx-large ;background:linear-gradient(to bottom,#d73131 0,#000000 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{athlete.rfm[0].rfm}}</span>
                            <span style="font-size: x-small; color: lightgray;">%</span>
                         </div>
                        </div>
                     </div>
            
            </div>
            <div class="col-2"></div>
            </div>
            <div class="row"></div>
            <div class="row" style="margin: 1% 1%;">
               <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <fa-icon [icon]='faRulerV' style="font-size: 2vw;"></fa-icon>
                            </div>
                            <div class="col-8"style="text-align: center;">
                                <span style="font-size: small; color: rgb(172, 172, 172);" >Your size</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" style="text-align: center;">
                       <span class="span-card" style="font-size: xxx-large;">{{athlete.size}}</span>
                       <span  style="font-size: x-small; color: lightgray;">Cm</span>
                    </div>
                    <div class="card-footer"style="text-align: center;">
                        <span id="editSize" class="btn" (click)="editMetricsAthlete('Size')"style="font-size: small;">Enter your size</span>
                    </div>
                </div>
               </div>
               <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <fa-icon [icon]='faWeight' style="font-size: 2vw;"></fa-icon>
                            </div>
                            <div class="col-8"style="text-align: center;">
                                <span style="font-size: small; color: rgb(172, 172, 172);" >{{dateWeight}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" style="text-align: center;">
                       <span class="span-card" style="font-size: xxx-large;">{{athlete.weight[0].weight}}</span>
                       <span style="font-size: x-small; color: lightgray;">Kg</span>
                    </div>
                    <div class="card-footer"style="text-align: center;">
                        <span id="editWeight" class="btn" (click)="editMetricsAthlete('Weight')" style="font-size: small;">Enter your weight</span>
                    </div>
                </div>
            </div>
            <div class="col-4" >
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <fa-icon [icon]='faRulerH' style="font-size: 2vw;"></fa-icon>
                            </div>
                            <div class="col-8"style="text-align: center;">
                                <span style="font-size: small; color: rgb(172, 172, 172);" >{{dateWaist}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" style="text-align: center;">
                       <span class="span-card" style="font-size: xxx-large;">{{athlete.waist[0].waist}}</span>
                       <span style="font-size: x-small;color: lightgray;">Cm</span>
                    </div>
                    <div class="card-footer"style="text-align: center;">
                        <span id="editWaist" class="btn" (click)="editMetricsAthlete('Waist')" style="font-size: small;">Enter your waist</span>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" style="height: 50px;"></div>



            <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header">
                    <div class="col-12" style="text-align: center;">
                        <span style="font-size: x-large;">RFM History</span>
                    </div>
                </div>
                <div class="card-content" id="divHistory" style="height: 392px;"></div>
                <div class="card-footer">
                    
                </div>
        
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


            <!-- <div class="row" style="margin: 1% 1%;">
                <div class="col-2"></div>
                <div class="col-4" >
                    <div class="card">
                        <div class="card-header">
                            <div class="col-12" style="text-align: center;">
                                <span style="font-size: x-large;">Body Mass Index</span>
                            </div>
                        </div>
                        <div class="card-content" id="divHistoryRfm" style="height: 392px;"></div>
                        <div class="card-footer">
                            
                        </div>
                
                    </div>
                </div> -->





