
p{
    color: #444;
    font-size: 12px;
    line-height: 16px;
}
#firstP{
    text-align: center;
    font-weight: bold;
}

.info{

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 4px 4px 4px 4px;
    padding-top: 1%;
    margin-top: 0px;
    background-color: white;
}
.info:hover{
    box-shadow: rgba(27, 126, 255, 0.781) 2px 0px 5px 0px, rgb(27, 153, 255, 0.15) 0px 1px 3px 1px;
    padding-top: 1%;
    margin-top: 0px;   
}
/* #bmi{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 0px 0px 0px 4px;
    
}
#rfm{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 0px 0px 4px 0px;
    

} */

.card-header{
    background-color: white!important;
}
.span-card{
    background:linear-gradient(to bottom,#08b26b 0,#bdd731 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





